<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to HOMEPAGE!<br>
      ♡ (´｡• ᵕ •｡`) ♡</h1>

<div sec:authorize="hasRole('USER')">
<form th:action="@{/user}">
    <input type="submit" value="user"/>
</form>
</div>
<br>
<div sec:authorize="hasRole('ADMIN')">
<form th:action="@{/admin}">
    <input type="submit" value="admin"/>
</form>
</div>
<br>
<form th:action="@{/logout}">
    <input type="submit" value="logout"/>
</form>
</body>
</html>